@model demo_project.Models.User

@{
    ViewBag.Title = "signup";
}

<h2>Signup</h2>


@{
    if (ViewBag.message != null)
    {
        if (ViewBag.danger)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="/Auth/Signup" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.message
            </div>
        }
        else
        {
            <div class="alert alert-success alert-dismissible">
                <a href="/Auth/Signup" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.message
            </div>
        }

    }

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required",placeholder="Name" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control",type="email", required = "required",placeholder="Email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control",type="password", required = "required",placeholder="Password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Signup" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Login", "Login")
</div>
